@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    background-color: rgba(176, 46, 46, 0.862);
    height: 100vh;
    max-width: 500px;
    display: block;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    color: beige;
}

header {
    display: flex;
    justify-content: center;
}
.list-menu{
    padding: 15px
}
.logo{
    margin-right: 100px;
    font-weight: 500;
    font-size: 20px;
    padding-top: 10px;
}
